<md-card>
  <md-toolbar class="md-hue-2">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{categoryGetByCodeCtrl.operation.name}}</span>
        <span class="md-subhead">{{categoryGetByCodeCtrl.operation.description}}</span>
      </md-card-title-text>
    </md-card-title>
  </md-toolbar>
  <md-card-content>
    <md-content layout-gt-sm="row" layout-padding>
        <md-input-container>
          <label>Category Code</label>
          <input ng-model="searchCategoryCode" ng-required="true" ng-minlength="1" ng-maxlength="10"></input>
        </md-input-container>
        <md-input-container>
          <label>API Key</label>
          <input ng-model="searchApiKey" ng-required="true" ng-minlength="1" ng-maxlength="40"></input>
        </md-input-container>
    </md-content>
    <md-card-actions layout="row" layout-align="begin center">
      <md-button md-no-ink md-raised-button ng-click="categoryGetByCodeCtrl.callCategoryGetByCode()" class="md-raised md-raised-button md-primary">
        Get Market Data
      </md-button>
      <md-button md-no-ink md-raised-button class="md-raised md-raised-button" ng-click="categoryGetByCodeCtrl.cancelCalling()">
        Cancel
      </md-button>
    </md-card-actions>
  </md-card-content>
</md-card>
<md-card ng-if="categoryGetByCodeCtrl.category">
  <md-card-content>
    <md-content layout-gt-sm="row">
      Category {{categoryGetByCodeCtrl.category.Name}}
    </md-content>
    <md-content layout-gt-sm="row" layout-padding>
    <table id="gradient-style" ng-table="categoryGetByCodeCtrl.categoriesTableParams" class="table table-condensed table-bordered table-striped">
        <tr>
            <td title="'Id'">{{categoryGetByCodeCtrl.category.Id}}</td>
            <td title="'Code'">{{categoryGetByCodeCtrl.category.Code}}</td>
            <td title="'Name'">{{categoryGetByCodeCtrl.category.Name}}</td>
        </tr>
    </table>
    </md-content>
    <md-content layout-gt-sm="row">
      {{categoryGetByCodeCtrl.category.Name}} sub categories
    </md-content>
    <md-content layout-gt-sm="row" layout-padding>
    <table id="gradient-style" ng-table="categoryGetByCodeCtrl.categoriesTableParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="category in categoryGetByCodeCtrl.category.Categories">
            <td title="'Id'">{{category.Id}}</td>
            <td title="'Code'">{{category.Code}}</td>
            <td title="'Name'">{{category.Name}}</td>
            <td title="'SortOrder'">{{category.SortOrder}}</td>
        </tr>
    </table>
    </md-content>
  </md-card-content>
</md-card>