<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{operationsListCtrl.getCurrentResourceName()}} Resource Operations</span>
    </md-card-title-text>
  </md-card-title>

  <md-list>
    <md-list-item ng-repeat="operation in operationsListCtrl.operations | filter:{resource:operationsListCtrl.getCurrentResourceName()}">

      <md-button ng-click="operationsListCtrl.callOperation(operation)">
        <md-icon md-svg-src={{operation.icon}}></md-icon>
        {{operation.name}}
      </md-button>

      <md-button class="share" md-no-ink aria-label="Share" href="{{operation.url}}" target="_blank" flex>
        <md-icon md-svg-icon="share"></md-icon>
      </md-button>

    </md-list-item>
  </md-list>
  <hr/>
</md-card>

<ui-view>
</ui-view>
