<md-card>
  <md-toolbar class="md-hue-2">
    <md-card-title>
      <md-card-title-text>
        <div>        
          <md-button md-raised-button ng-click="operationsListCtrl.showCredit()" class="md-raised md-raised-button md-primary">
            Credits
          </md-button>
          <span class="md-headline">{{operationsListCtrl.getCurrentResourceName()}} Operations</span>
        </div>
      </md-card-title-text>
    </md-card-title>
  </md-toolbar>
  <md-list>
    <md-list-item ng-repeat="operation in operationsListCtrl.operations | filter:{resource:operationsListCtrl.getCurrentResourceName()}">

      <md-button ng-click="operationsListCtrl.callOperation(operation)">
        <md-icon md-svg-src={{operation.icon}}></md-icon>
        {{operation.name}}
      </md-button>

      <md-button class="share" md-no-ink aria-label="Share" href="{{operation.url}}" target="_blank" flex>
        <md-icon md-svg-icon="share"></md-icon>
      </md-button>

    </md-list-item>
  </md-list>
  <hr/>
</md-card>

<ui-view>
</ui-view>