<md-card>
  <md-toolbar class="md-hue-2">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{listingGetCtrl.operation.name}}</span>
        <span class="md-subhead">{{listingGetCtrl.operation.description}}</span>
      </md-card-title-text>
    </md-card-title>
  </md-toolbar>
  <md-card-content>
    <md-content layout-gt-sm="row" layout-padding>
        <md-input-container>
          <label>Listing ID</label>
          <input ng-model="searchListingId" ng-required="true" ng-minlength="1" ng-maxlength="10"></input>
        </md-input-container>
        <md-input-container>
          <label>API Key</label>
          <input ng-model="searchApiKey" ng-required="true" ng-minlength="1" ng-maxlength="40"></input>
        </md-input-container>            
    </md-content>
    <md-card-actions layout="row" layout-align="begin center">
      <md-button md-no-ink md-raised-button ng-click="listingGetCtrl.callListingGet()" class="md-raised md-raised-button md-primary">
        Get Market Data
      </md-button>
      <md-button md-no-ink md-raised-button class="md-raised md-raised-button" ng-click="listingGetCtrl.cancelCalling()">
        Cancel
      </md-button>
    </md-card-actions>
  </md-card-content>
</md-card>
<md-card ng-if="listingGetCtrl.listing">
  <md-card-content>
    <md-content layout-gt-sm="row">
      Listing
    </md-content>
    <md-content layout-gt-sm="row" layout-padding>
    <table id="gradient-style" ng-table="listingGetCtrl.listingTableParams" class="table table-condensed table-bordered table-striped">
        <tr>
            <td title="'Name'">{{listingGetCtrl.listing.Name}}</td>
            <td title="'Isin'">{{listingGetCtrl.listing.Isin}}</td>
            <td title="'Trade'">{{listingGetCtrl.listing.Trade}}</td>
            <td title="'Currency'">{{listingGetCtrl.listing.Currency}}</td>
            <td title="'Previous Close'">{{listingGetCtrl.listing.PrvClose}}</td>
            <td title="'Change'">{{listingGetCtrl.listing.Change}}</td>
            <td title="'Percentage Change'">{{listingGetCtrl.listing.PctChange}}</td>
            <td title="'Listing Id'">{{listingGetCtrl.listing.ShareCompanyListingId}}</td>
        </tr>
    </table>
    </md-content>
  </md-card-content>
</md-card>
