<md-card>
  <md-toolbar class="md-hue-2">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{listingGetAllCtrl.operation.name}}</span>
        <span class="md-subhead">{{listingGetAllCtrl.operation.description}}</span>
      </md-card-title-text>
    </md-card-title>
  </md-toolbar>
  <md-card-content>
    <md-content layout-gt-sm="row" layout-padding>
        <md-input-container>
          <label>API Key</label>
          <input ng-model="searchApiKey" ng-required="true" ng-minlength="1" ng-maxlength="40"></input>
        </md-input-container>    
    </md-content>
    <md-card-actions layout="row" layout-align="begin center">
      <md-button md-no-ink md-raised-button ng-click="listingGetAllCtrl.callListingGetAll()" class="md-raised md-raised-button md-primary">
        Get Market Data
      </md-button>
      <md-button md-no-ink md-raised-button class="md-raised md-raised-button" ng-click="listingGetAllCtrl.cancelCalling()">
        Cancel
      </md-button>
    </md-card-actions>
  </md-card-content>
</md-card>
<md-card ng-if="listingGetAllCtrl.listings">
  <md-card-content>
    <md-content layout-gt-sm="row">
      Listings
    </md-content>
    <md-content layout-gt-sm="row" layout-padding>
      <table>
        <tr>
          <th>Name</th>
          <th>Isin</th>
          <th>Trade</th>
          <th>Currency</th>
          <th>Previous Close</th>
          <th>Change</th>
          <th>Percentage Change</th>
          <th>Listing Id</th>
        </tr>
        <tr ng-repeat="listing in listingGetAllCtrl.listings">
          <td>{{ listing.Name }}</td>
          <td>{{ listing.Isin }}</td>
          <td>{{ listing.Trade }}</td>
          <td>{{ listing.Currency }}</td>
          <td>{{ listing.PrvClose }}</td>
          <td>{{ listing.Change }}</td>
          <td>{{ listing.PctChange }}</td>
          <td>{{ listing.ShareCompanyListingId }}</td>
        </tr>
      </table>
    </md-content>
  </md-card-content>
</md-card>
