<md-card>
  <md-toolbar class="md-hue-2">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{mutualFundGetCtrl.operation.name}}</span>
        <span class="md-subhead">{{mutualFundGetCtrl.operation.description}}</span>
      </md-card-title-text>
    </md-card-title>
  </md-toolbar>
  <md-card-content>
    <md-content layout-gt-sm="row" layout-padding>
        <md-input-container>
          <label>Listing ID</label>
          <input ng-model="searchListingId" ng-required="true" ng-minlength="1" ng-maxlength="10"></input>
        </md-input-container>
        <md-input-container>
          <label>API Key</label>
          <input ng-model="searchApiKey" ng-required="true" ng-minlength="1" ng-maxlength="40"></input>
        </md-input-container>            
    </md-content>
    <md-card-actions layout="row" layout-align="begin center">
      <md-button md-no-ink md-raised-button ng-click="mutualFundGetCtrl.callMutualFundGet()" class="md-raised md-raised-button md-primary">
        Get Market Data
      </md-button>
      <md-button md-no-ink md-raised-button class="md-raised md-raised-button" ng-click="mutualFundGetCtrl.cancelCalling()">
        Cancel
      </md-button>
    </md-card-actions>
  </md-card-content>
</md-card>
<md-card ng-if="mutualFundGetCtrl.mutualfund">
  <md-card-content>
    <md-content layout-gt-sm="row">
      Mutual Fund
    </md-content>
    <md-content layout-gt-sm="row" layout-padding>
      <table>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>ISIN</th>
          <th>NetAssetValue</th>
        </tr>
        <tr>
          <td>{{ mutualFundGetCtrl.mutualfund.Id }}</td>
          <td>{{ mutualFundGetCtrl.mutualfund.Name }}</td>
          <td>{{ mutualFundGetCtrl.mutualfund.ISIN }}</td>
          <td>{{ mutualFundGetCtrl.mutualfund.NetAssetValue }}</td>
        </tr>
      </table>
    </md-content>
  </md-card-content>
</md-card>